server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: document-service-itq-test-api

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/document_service_itq
    username: postgres
    password: 123

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.yaml

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
          batch_versioned_data: true
        order_inserts: true
        order_updates: true

logging:
  level:

    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.type.descriptor.sql: TRACE
    org.hibernate.stat: DEBUG

    org.springframework.transaction: DEBUG
    org.springframework.orm.jpa: DEBUG

    com.labzin: DEBUG

    org.hibernate.engine.internal.Versioning: DEBUG